---
import Layout from "@/layouts/Layout.astro";
import Timeline from "@/components/Timeline.astro";
import { iconList } from "@/utils/consts";
---

<Layout title="About me.">
  <section class="grid grid-cols-2 w-full mt-10">
    <div class="flex flex-col justify-between">
      <div class="">
        <h2 class="mb-3 text-4xl xl:text-5xl font-bold" transition:name="title">
          Felipe Ladino
        </h2>
        <h3 class="mb-5 text-xl font-medium">Experienced Back-End Engineer</h3>
        <p
          class="mb-16 max-w-sm text-slate-500 dark:text-slate-300"
          transition:name="description"
        >
          I'm a Systems Engineer passionate about software development
        </p>

        <div>
          <h3 class="mb-4 text-xl font-medium">Education</h3>
          <ul class="list-disc list-inside">
            <li class="mb-2 font-medium">
              Systems Engineer
              <p class="ml-6 text-base">
                <span class="font-normal">2018 - 2022</span> | <span
                  class="font-normal">Universidad de Cundinamarca</span
                >
              </p>
            </li>
            <li class="mb-2 font-medium">
              Backend bootcamp
              <p class="ml-6 text-base">
                <span class="font-normal">2022</span> | <span
                  class="font-normal">Sophos Solutions</span
                >
              </p>
            </li>

            <li class="font-medium">
              Alkemy campus
              <p class="ml-6 text-base">
                <span class="font-normal">2022</span> | <span
                  class="font-normal">Alkemy</span
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex gap-x-4" transition:name="social_icons">
        {
          iconList.map((item) => (
            <a href={item.url} target="_blank">
              <item.icon className="w-7 h-7 hover:text-custom-blue-500 dark:hover:text-custom-blue-400   cursor-pointer transition duration-300 ease-in" />
            </a>
          ))
        }
      </div>
    </div>
    <div>
      <Timeline />
    </div>
  </section>
</Layout>
