---
import Layout from "@/layouts/Layout.astro";
import SendIcon from "@/icons/Send.astro";
import EmailIcon from "@/icons/Email.astro";
import CopyIcon from "@/icons/Copy.astro";
---

<Layout title="Contact me">
  <section class="px-5 text-center">
    <div>
      <h3 class="mb-3 text-3xl sm:text-4xl font-semibold">
        Let's talk about everything! 😎
      </h3>
      <p class="mb-10 sm:text-lg text-slate-500 dark:text-slate-300">
        Remember that you can also contact me through my social networks
      </p>

      <div class="flex items-center gap-3 mb-3">
        <h4 class="text-xl font-semibold">Email</h4>
        <EmailIcon className="text-slate-600 dark:text-slate-400" />
      </div>

      <div class="flex items-center gap-2">
        <input
          id="email"
          type="text"
          disabled
          class="bg-black/5 dark:bg-white/5 w-full py-1.5 px-3 rounded-lg grid place-items-center text-slate-600 dark:text-slate-300"
          value="jfelipeladiino@gmail.com"
        />
        <button
          id="send"
          class="py-2 px-4 rounded-lg text-white bg-custom-blue-500 dark:bg-custom-blue-600/90 hover:bg-custom-blue-600 dark:hover:bg-custom-blue-700/90 cursor-pointer"
        >
          <SendIcon />
        </button>

        <button
          id="copy"
          class="py-2 px-4 rounded-lg text-white bg-custom-blue-500 dark:bg-custom-blue-600/90 hover:bg-custom-blue-600 dark:hover:bg-custom-blue-700/90 transition duration-100 cursor-pointer"
        >
          <CopyIcon />
        </button>
      </div>
    </div>
  </section>
</Layout>

<script>
  import { copyEmailtoClipboard, stopConfetti } from "@/utils/scripts";

  document.addEventListener("astro:before-preparation", stopConfetti);

  document.addEventListener("astro:page-load", copyEmailtoClipboard, {
    once: false,
  });
</script>

<script>
  import { sendEmail } from "@/utils/scripts";

  document.addEventListener("astro:page-load", sendEmail, { once: false });
</script>
