---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Felipe L.">
  <div class="flex justify-center items-center h-full bg-gray-700">
    <div class="text-center">
      <img src="/profile.webp" alt="Imagen de perfil" class="w-36 rounded-full aspect-square" />
      <h1>Felipe Ladino</h1>
      <p>I'm a developer</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> Button</button>
    </div>
  </div>
</Layout>

<style></style>
