---
import { ToggleTheme } from "@/components/ToggleTheme";

const { pathname } = Astro.url;

const routes = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "About",
    path: "/about",
  },
  {
    name: "Contact me",
    path: "/contact-me",
  },
];
---

<header
  id="landing-header"
  class="top-0 flex justify-between items-center w-full min-h-[72px] rounded"
>
  <div class="flex items-center gap-4 flex-1">
    <div class="p-1 rounded-full bg-slate-50">
      <img src="/profile.webp" alt="imagen de perfil" class="w-10 h-10" />
    </div>
    <p class="text-xl font-medium">FelipeLL</p>
  </div>

  <nav>
    <ul class="flex">
      {
        routes.map((route) => (
          <li
            class={`py-1 px-4 font-semibold rounded hover:text-white hover:duration-1000 cursor-pointer ${
              pathname === route.path &&
              "bg-custom-blue-500/90 dark:bg-custom-blue-600/90 text-white"
            }`}
          >
            <a href={route.path}>{route.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>

  <ToggleTheme client:only />

  <div
    id="menu-backdrop"
    class="absolute bg-custom-blue-500/90 dark:bg-custom-blue-600/90 left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] opacity-0 transition-all duration-500 ease-in-out -z-10"
  >
  </div>
</header>

<script>
  import { navbarBackdrop } from "@/utils/navbar-backdrop";

  document.addEventListener("astro:page-load", navbarBackdrop, { once: false });
</script>
